#!/usr/bin/make -f
%:
	dh $@ --parallel --with autoreconf

override_dh_auto_configure:
ifeq ($(DEB_BUILD_ARCH), amd64)
	dh_auto_configure -- --enable-win64
else
	dh_auto_configure -- --disable-mem2g --without-opengl
endif

override_dh_auto_test:
	# Wine's test suite does not pass on build daemons, skip it for now

override_dh_installdocs:
	# wine package should be a dependency of every subpackage here
	dh_installdocs --link-doc=wine2.0

override_dh_install:
	dh_install --fail-missing
	# These files will end up in multiple packages otherwise
	rm -f debian/wine2.0/usr/bin/wine
	rm -f debian/wine2.0/usr/bin/wine-preloader
	rm -f debian/wine2.0/usr/bin/wine64
	rm -f debian/wine2.0/usr/bin/wine64-preloader

override_dh_shlibdeps:
	dh_shlibdeps -Xwpcap.dll.so -Xwinepulse.drv.so

